<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyTradewebNextversion</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.mr.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Homecontroller</servlet-name>
    <servlet-class>com.mr.app.Loadservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LiveAlertServlet</servlet-name>
    <servlet-class>com.mr.app.LiveAlertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logoutservlet</servlet-name>
    <servlet-class>com.mr.ajax.Logoutservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeekCandleOpenlowServlet</servlet-name>
    <servlet-class>com.mr.ajax.WeekCandleOpenlowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommonTechnicalsServlet</servlet-name>
    <servlet-class>com.mr.ajax.CommonTechnicalsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EodfiltershowliveServlet</servlet-name>
    <servlet-class>com.mr.ajax.EodfiltershowliveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Technicals15minupdateservlet</servlet-name>
    <servlet-class>com.mr.ajax.Technicals15minupdateservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Week52HighLow</servlet-name>
    <servlet-class>com.mr.ajax.Week52HighLow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MonthCandleOpenlowServlet</servlet-name>
    <servlet-class>com.mr.ajax.MonthCandleOpenlowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CandlePatternMonthServlet</servlet-name>
    <servlet-class>com.mr.ajax.CandlePatternMonthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EODtechnicalfilershowliveServlet</servlet-name>
    <servlet-class>com.mr.ajax.EODtechnicalfilershowliveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CandlePatternServlet</servlet-name>
    <servlet-class>com.mr.ajax.CandlePatternServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Livestockcount</servlet-name>
    <servlet-class>com.mr.ajax.Livestockcount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DayLivestockcount</servlet-name>
    <servlet-class>com.mr.ajax.DayLivestockcount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LiveupdateServlet</servlet-name>
    <servlet-class>com.mr.ajax.LiveupdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeeksmapvServlet</servlet-name>
    <servlet-class>com.mr.ajax.WeeksmapvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DaysmapvServlet</servlet-name>
    <servlet-class>com.mr.ajax.DaysmapvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DayweeksmapvServlet</servlet-name>
    <servlet-class>com.mr.ajax.DayweeksmapvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DaydaysmapvServlet</servlet-name>
    <servlet-class>com.mr.ajax.DaydaysmapvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProtfolioServlet</servlet-name>
    <servlet-class>com.mr.ajax.ProtfolioServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EPSbreakservlet</servlet-name>
    <servlet-class>com.mr.ajax.EPSbreakservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DayEPSbreakservlet</servlet-name>
    <servlet-class>com.mr.ajax.Daybreakservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EPSdiffservlet</servlet-name>
    <servlet-class>com.mr.ajax.EPSdiffservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DayEPSdiffservlet</servlet-name>
    <servlet-class>com.mr.ajax.DayEPSdiffservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CPSbreakservlet</servlet-name>
    <servlet-class>com.mr.ajax.CPSbreakservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CPSdiffservlet</servlet-name>
    <servlet-class>com.mr.ajax.CPSdiffservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllTimeHighLowServlet</servlet-name>
    <servlet-class>com.mr.ajax.AllTimeHighLowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DayCPSbreakservlet</servlet-name>
    <servlet-class>com.mr.ajax.DayCPSbreakservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DayCPSdiffservlet</servlet-name>
    <servlet-class>com.mr.ajax.DayCPSdiffservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homecontroller</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>com.mr.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DayFiltermonitorServlet</servlet-name>
    <servlet-class>com.mr.ajax.DayFiltermonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DayFiltermonitorServlet</servlet-name>
    <url-pattern>/DayFiltermonitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WeekFiltermonitorServlet</servlet-name>
    <servlet-class>com.mr.ajax.WeekFiltermonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeekFiltermonitorServlet</servlet-name>
    <url-pattern>/WeekFiltermonitor</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/UsersDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>com.mr.app.Listener</listener-class>
  </listener>
</web-app>